
body {
	background-color: #000000;
}

#principal {
	width: 100%;
	height: 100%;
	background-color: #5882FA;
	position: absolute;
	top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:auto;
   	z-index:-1;
   	/*display: inline-block;*/
}

#organizador {
	top: 5em;
	height: 25em;
	width: 100%;
	display: inline-block;
	text-align: center;
	position: relative;
	margin: 0 auto;
}

#titulo {
	text-align: center;
	font-size: 3em;
	color: #FFFFFF;
}


#sonido {
	top: 100px;
	margin: 0 auto;
	width: 30%;
	height: 20em;
	background-color: #FFFFFF;
	text-align: justify;
	padding: 5px;
	position: relative;
	margin: 1%;
	display: inline-block;
	
}
	
#contenedor {
	top: 100px;
	margin: 0 auto;
	width: 30%;
	height: 20em;
	text-align: center justify;
	padding: 5px;
	position: relative;
	margin: 1%;
	display: inline-block;
}



















