.cuerpo {
	margin: .25em auto;
	text-align: center;
	background-color: red;

}
#titulo {
	width: 100%;
	height: 40px;
	background-color: green;
	display: inline-block;
}

.boton {
	width: 200px;
	height: 200px;
	text-align: right;
	display: inline-block;
	
}

#contenido {
	width: 80%;
	height: 200px;
	background-color: yellow;
	text-align: justify;
	display: inline-block;
}

#audiotitulo {
	opacity: 0;
}

#audiocontenido {
	opacity: 0;
}