body {
	background-color: blue;
}

#textolimpio {
	margin-left: 30%;
	margin-right: 30%;
}


#prueba {
	margin-left: 30%;
	margin-right: 30%;
	width: 373px;
	height: 66px;
	background-color: white;
}

#audioh {
	opacity: 0;
}

#leer {
	margin-left: 40%;
	margin-right: 40%;
}